@page "/User/Settings"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using Blazored.LocalStorage
@using MangaFlexFront.Data.Mangas.Models;
@using MangaFlexFront.Data.ViewModels
@using Microsoft.AspNetCore.Authorization
@inject ILocalStorageService localStorageService
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http.Headers

<style>

</style>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6" style="text-align: center;">
            <br>
            <button class="btn btn-primary btn-lg" @onclick="ChangeAvatar">Update User Avatar</button>
        </div>
        <div class="col-md-6" style="text-align: center;">
            <br>
            <button class="btn btn-primary btn-lg" @onclick="UpdateData">Update User Data</button>
        </div>  
    </div>
</div>

@code{
    private void ChangeAvatar(){
        NavigationManager.NavigateTo("/User/ChangeAvatar");
    }
    private void UpdateData()
    {
        NavigationManager.NavigateTo("/User/UpdateData");
    }
}